@import url('layout.css');
@import url('content.css');
@import url('reader.css');
@import url('sidebar.css');

@media screen and (max-width: 768px) {

    .layout-container {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px 10px;
        box-sizing: border-box;
    }

    .sidebar nav, .sidebar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    /* .content { */
    /*     width: 100%; */
    /*     padding: 10px; */
    /* } */
}
