<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIZZBE</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
    <div class="layout-container">

        <nav class="sidebar">
            <h2>RIZZBE</h2>
            <ul>
                <li><a href="{{ '/index.html' | relative_url }}">Obdukcija</a></li>
                <li><a href="{{ '/pomelo.html' | relative_url }}">Pomelo</a></li>
            </ul>
        </nav>

        <main class="content">
            {{ content }}
        </main>

        <script src="{{ './reader.js' | relative_url }}"></script>

    </div>
</body>
</html>
